# Generated with poetry export -f requirements.txt --output requirements.txt --without-hashes
accept-types==0.4.1
aiofile==3.7.4; python_version > "3.4" and python_version < "4"
aiofiles==0.6.0
anyio==3.5.0; python_full_version >= "3.6.2" and python_version >= "3.6"
astropy==5.0; python_version >= "3.8" and python_version < "4.0"
asttokens==2.0.5
authlib==0.15.5
caio==0.9.5; python_version >= "3.5" and python_version < "4"
certifi==2021.10.8; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.0"
cffi==1.15.0; python_version >= "3.6"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.8" and python_version < "4.0"
click-config-file==0.6.0
click==7.1.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
colorama==0.4.4; python_version >= "2.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_full_version >= "3.5.0"
configobj==5.0.6
cryptography==36.0.1; python_version >= "3.6"
dateparser==1.1.0; python_version >= "3.8" and python_version < "4.0"
executing==0.8.2
fastapi==0.65.3; python_version >= "3.6"
fasttext==0.9.2
flask==2.0.3; python_version >= "3.6"
geojson==2.5.0
greenlet==1.1.2; python_version >= "3" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
h11==0.12.0; python_version >= "3.6"
heartrate==0.2.2
httpcore==0.13.7; python_version >= "3.6"
httptools==0.1.2; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
httpx==0.20.0; python_version >= "3.6"
idna==3.3; python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.2"
igsn-lib @ git+https://github.com/isamplesorg/igsn_lib.git@main ; python_version >= "3.8" and python_version < "4.0"
itsdangerous==2.0.1; python_version >= "3.6"
jinja2==3.0.3; python_version >= "3.6"
lxml==4.7.1; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.5.0"
markupsafe==2.0.1; python_version >= "3.6"
numpy==1.22.2; python_version >= "3.8" and python_version < "4.0"
psycopg2-binary==2.9.3; python_version >= "3.8" and python_version < "4.0"
pybind11==2.9.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pydantic==1.9.0; python_full_version >= "3.6.1" and python_version >= "3.6" and python_full_version < "4.0.0"
pyerfa==2.0.0.1; python_version >= "3.8" and python_version < "4.0"
pygments==2.11.2; python_version >= "3.5"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.3.0"
python-dotenv==0.19.2; python_version >= "3.5"
pytz-deprecation-shim==0.1.0.post0; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.0"
pytz==2021.3; python_version >= "3.8" and python_version < "4.0"
pyyaml==6.0; python_version >= "3.6"
regex==2022.1.18; python_version >= "3.8" and python_version < "4.0"
requests==2.27.1; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.0"
rfc3986==1.5.0; python_version >= "3.6"
shapely==1.8.0; python_version >= "3.6"
sickle==0.7.0; python_version >= "3.8" and python_version < "4.0"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.3.0"
sniffio==1.2.0; python_full_version >= "3.6.2" and python_version >= "3.6"
sqlalchemy2-stubs==0.0.2a19; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
sqlalchemy==1.4.31; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
sqlmodel==0.0.4; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
starlette==0.14.2; python_version >= "3.6"
typing-extensions==4.1.1; python_full_version >= "3.6.1" and python_version >= "3.6" and python_full_version < "4.0.0"
tzdata==2021.5; python_version >= "3.8" and python_version < "4.0" and platform_system == "Windows" and (python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.6.0")
tzlocal==4.1; python_version >= "3.8" and python_version < "4.0"
urllib3==1.26.8; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.8"
uvicorn==0.13.4
uvloop==0.16.0; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version >= "3.7"
watchgod==0.7; python_version >= "3.5"
websockets==8.1; python_full_version >= "3.6.1"
werkzeug==2.0.3; python_version >= "3.6"
xmltodict==0.12.0; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.4.0"
