<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iSample Login</title>
    <!-- link css file-->
</head>

<body>
    <a class="about" href="#">About Us</a>
    <div id="loginForm">
        <div class="title">
            <label><b>iSample</b></label>
        </div>
        <div class="Users">
            <label><b><u>Username</u></b></label>
            <input type="text" placeholder="Enter Username" size="30">
        </div>
        <div class="Users">
            <label><b><u>Password</u></b></label>
            <input type="password" placeholder="Enter password" size="30">
        </div>
        <div class="NF_users">
            <a class="NF" href="#">Sign Up</a>
            <a href="#">Forgot Password?</a>
            <button class="bt_enter">Enter</button>
        </div>
        <div class="otherLogin">
            <a href="https://github.com/login/oauth/authorize?client_id=c9ee06e501fe2852f850"><img src="./img/GitHub-img.png"><br>Github</a>
        </div>
    </div>
</body>

</html>