<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Records Heatmap</title>
        <!-- Leaflet as usual -->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <!-- enough styling to make a full-page map -->
    <style type="text/css">
    body {
        padding: 0;
        margin: 0;
    }
    html, body, #map {
        height: 100%;
    }
    </style>
    <script type="text/javascript">

    function initMap() {
        var map = L.map('map').setView([0, 0], 2);

        L.tileLayer('http://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
        }).addTo(map)

        getHeatmap = function() {
            var bb = map.getBounds();
            var params = {
                min_lat: bb.getSouth(),
                min_lon: bb.getWest(),
                max_lat: bb.getNorth(),
                max_lon: bb.getEast()
            }

            var hm_url = "/things_geojson_heatmap?" + new URLSearchParams(params);
            fetch(hm_url)
                .then(response => response.json())
                .then(data => {
                    var hm = L.geoJson(data);
                    hm.addTo(map);
                });
        }

        doZoom = function(e) {
            getHeatmap();
        }
        map.on("zoomend", doZoom);
        getHeatmap();
    }
    </script>
</head>
<body onLoad="initMap();">

    <div id="map"></div>

</body>
</html>